html,
body {
    margin: 0;
    height: 100%;
    min-width: 550px;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body.root {
    background-color: rgba(44, 181, 231, 0.66);
}

div.loading {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input-group-text {
    color: black !important;
}
